* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px red dotted; */
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 0;
  padding: 0;
}

/* ============================================================== */
/* UNIVERSAL TEXT STYLING */

.bold {
  font-weight: bolder;
}

.thin {
  font-weight: lighter;
}

.reg {
  font-style: normal;
}

.xxl {
  font-size: 2.5rem;
}

.xl {
  font-size: 2rem;
}

.lg {
  font-size: 1.75rem;
}

.med {
  font-size: 1.5rem;
}

.sm {
  font-size: 1.25rem;
}

.xs {
  font-size: 1rem;
}

.xxs {
  font-size: 0.75rem;
}

/* ============================================================== */

/* Nav Bar CSS Below */
nav {
  background-color: #161616;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px 20px;
  position: fixed;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.6);
  width: 100%;
  left: 0;
  top: 0;
}

nav .logo {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

.logo a {
  color: #fefbf7;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.5em;
}

nav ul li a {
  color: #fefbf7;
  text-decoration: none;
  font-size: 1em;
  font-weight: 500;
}

nav ul li a:hover {
  color: #dbf985;
}

.menu-toggle {
  display: none;
  color: #fefbf7;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 25px;
}

#menu-checkbox {
  display: none;
}

/* ============================================================== */

/* Home Page Styles Below */

/* Body CSS Below */
body {
  font-family: "inter", sans-serif;
  letter-spacing: 0.1em;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  margin: 0 auto;
}

.site-container {
  display: flexbox;
}

/* ============================================================== */

/* Hero CSS Below */
.hero-title,
.gallery-title {
  font-size: 3rem;
  color: #7b3b53;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3em;
  margin-top: 80px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.button {
  margin-top: 1.5em;
  padding: 0.5em 1em;
  border: 1.5px solid #7b3b53;
  border-radius: 0.5em;
  background-color: #fefbf7;
  color: #7b3b53;
  font-weight: 700;
  text-decoration: none;
}

.button:hover {
  color: #fefbf7;
  background-color: #7b3b53;
}

/* ============================================================== */

/* About CSS Below */
.about {
  background-color: #7b3b53;
  padding: 3em;
}

.about-container {
  display: flex;
  align-items: stretch;
}

.about-container .left,
.about-container .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.about-container .left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-container .left {
  background-color: #5ebea4;
}

.about-container .right {
  background-color: #fefbf7;
  flex-direction: column;
  text-align: left;
}

.about-container .right h5,
.about-container .right p {
  max-width: 400px;
  margin-inline: auto;
}

.about-container .right h2,
.about-container .right h5 {
  margin-bottom: 1em;
}

/* ============================================================== */

/* Work CSS Below */
.work {
  align-items: center;
  text-align: center;
  color: #7b3b53;
  padding: 3em;
}

.work-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-title {
  margin-bottom: 1em;
}

.project {
  display: flex;
  display: block;
  justify-content: space-between;
  text-align: center;
  flex: 1;
  flex-grow: 1;
}

.project-text {
  padding: 2em 0;
  max-width: 350px;
  margin: auto;
}

.project-text h5 {
  margin-top: 1em;
  min-height: 4.5em;
}

.project-text h3 a {
  color: #161616;
  text-decoration: none;
}

.project-text h3 a:hover {
  color: #5ebea4;
}

.skill-tag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  max-width: 350px;
  margin: auto;
}

.skill-tag p {
  background-color: #161616;
  color: #fefbf7;
  display: flex;
  justify-content: center;
  padding: 0.5em 1em;
  align-items: center;
  font-size: small;
}

/* ============================================================== */

/* Call-to-Action CSS Below */
.action {
  align-items: center;
  text-align: center;
  background-color: #5ebea4;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.action a.button {
  background-color: #5ebea4;
  color: #fefbf7;
  border: 1px solid #fefbf7;
}

.action a.button:hover {
  background-color: #fefbf7;
  color: #5ebea4;
}

.highlight-lime {
  color: #dbf985;
}

.highlight-white {
  color: #fefbf7;
}

.highlight-red {
  color: #7b3b53;
  font-size: xx-large;
}

/* ============================================================== */

/* Footer CSS Below */
.footer {
  color: #fefbf7;
  background-color: #161616;
  padding: 3em;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-contact,
.footer-socials {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer-contact h2,
.footer-contact a,
.footer-socials h2,
.footer-socials a {
  margin-bottom: 1em;
  text-decoration: none;
  color: #fefbf7;
}

.footer-contact a:hover,
.footer-socials a:hover {
  color: #dbf985;
}

.footer-container figure img {
  max-width: 100%;
  height: auto;
  flex: 1;
}

.copywriting {
  display: block;
  margin-top: 1em;
}

/* ============================================================== */

/* Project Page Styles Below */

.project-hero {
  padding: 3em;
  margin-top: 80px;
}

.project-hero-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

.text-content h1,
.text-content h3 {
  margin: 0;
}

.project-hero-container figure {
  display: grid;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.project-hero-container figure img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.color-palette {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
  padding-inline: 50px;
  margin-bottom: 3em;
}

.palette-container {
  flex-grow: 1;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.palette-container ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 1.5em;
  text-decoration: none;
}

.palette-container ul li {
  flex-grow: 1;
  flex-basis: 150px;
  flex-shrink: 1;
  font-size: 1em;
  font-weight: 500;

  padding: 1em 1.5em;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 4px 8px #0004;
}

/* ============================================================== */
/* PROJECT ABOUT SECTION */

section.proj-about {
  margin: 0;
  padding-inline: 50px;
}

section.proj-about > .proj-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

section.proj-about img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

section.proj-about .proj-about-child-container {
  margin: 0;
  padding: 0;
}

section.proj-about .proj-about-child-container:nth-of-type(1) {
  background-color: #fefbf7;
}

section.proj-about .proj-about-child-container:nth-of-type(2) {
  background-color: #fefbf7;
}

section.proj-about .proj-about-child-container h2,
section.proj-about .proj-about-child-container h5 {
  margin-bottom: 1em;
}

div.proj-about-container {
  max-width: 1000px;
  margin: auto;
}

/* ============================================================== */
/* FONT PROJECT SECTION */

section.proj-font {
  margin: 3em 0 0;
}

section.proj-font > .proj-font-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: stretch;
}

section.proj-font .proj-font-child-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proj-font-child-container:nth-of-type(1) > p.bold {
  font-family: "optima";
  letter-spacing: 5px;
  font-weight: 800;
}

.proj-font-child-container:nth-of-type(2) > p.bold {
  font-family: "proxima nova";
  letter-spacing: 5px;
  font-weight: 600;
}

.proj-font-child-container p.reg {
  margin-top: 1em;
}

section.proj-font .proj-font-child-container:nth-of-type(1) {
  background-color: #5ebea4;
  color: #161616;
  padding: 30px 50px;
}

section.proj-font .proj-font-child-container:nth-of-type(2) {
  background-color: #161616;
  color: #5ebea4;
  padding: 30px 50px;
}

section.proj-font .proj-font-child-container h2,
section.proj-font .proj-font-child-container h5 {
  margin-bottom: 1em;
}

/* ============================================================== */

/* MOOD BOARD SECTION */

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5em;
  padding-inline: 2em;
}

.image-grid > .image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 12px;
}

.image-grid > .image:nth-of-type(odd) {
  width: 90%;
  height: 90%;
  margin: auto;
}

/* ============================================================== */

/* PROJECT ACTION SECTION */

.proj-action {
  align-items: center;
  text-align: center;
  background-color: #7b3b53;
  padding: 3em;
  display: flex;
  flex-direction: column;
}

.proj-action a.button {
  background-color: #5ebea4;
  color: #fefbf7;
  border: 1px solid #fefbf7;
}

.proj-action a.button:hover {
  background-color: #fefbf7;
  color: #5ebea4;
}

.highlight-lime {
  color: #dbf985;
}

.highlight-white {
  color: #fefbf7;
}

.highlight-red {
  color: #7b3b53;
  font-size: xx-large;
}

/* ============================================================== */

/* Mobile View CSS Below */
@media (max-width: 768px) {
  nav {
    padding-bottom: 40px;
  }

  nav .menu-toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 20px;
  }

  .menu-toggle i {
    display: block;
  }

  nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #161616;
    width: 100%;
    padding: 15px 0;
    gap: 1rem;
    top: 90px;
    left: 0;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

  #menu-checkbox:checked + .menu-toggle + ul {
    display: flex;
  }

  .work-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .project {
    width: 100%;
    max-width: 400px;
    flex: none;
  }
  div.about-container {
    flex-direction: column;
  }

  .footer-container,
  .copywriting {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-contact,
  .footer-socials {
    margin-bottom: 1em;
  }

  .project-hero {
    padding: 3em;
    margin-top: 80px;
  }

  .project-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .text-content {
    width: 100%;
    max-width: 400px;
    flex: none;
    text-align: center;
  }

  section.proj-about > .proj-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section.proj-font > .proj-font-container {
    display: flex;
    flex-direction: column;
  }

  .image-grid {
    grid-template-columns: 1fr;
  }

  .image-grid > .image:nth-of-type(odd) {
    width: 95%;
    height: 95%;
  }
}

/* ============================================================== */
